@media (max-width:1600px) {
   
    .left-img {
        left: 0% !important;
    }
    .left-img img {
        width: 70%;
    }
    .bar-code-area {
        right: 0.5%;
    }
    .rcent-top {
        padding: 8px 10px;
    }
    section.all-contributes-area {
        padding: 9px 0;
    }
    #commentanimatedHeading .flex-set {
        padding: 10px 0;
    }
    .flex-set {
        padding: 7px 0;
    }
    .header{
        padding: 7px 0;
    }
}
@media (max-width:1531px) {
    .left-img {
        left: -1% !important;
    }
    .brc-img img {
        width: 61%;
    }
    .brc-img {
        padding: 13px 0px;
    }
    .bar-code-area h2 {
        font-size: 16px;
    }
    .bar-code-area p, .bar-code-area a {
        font-size: 13px;
    }
}
@media (max-width:1441px) {
    .container {
        max-width: 1183px !important;
    }
  
   
}
@media(max-width:1367px){
    header{
      padding: 7px 0 !important;
    }
    .container{
        max-width: 1060px !important;
    }
    #commentanimatedHeading .flex-set p {
        font-size: 13px !important;
    }
    .left-img img {
        width: 74% !important;
    }
    .left-img {
      left: 0 !important;
    }
    .bar-code-area {
      right: 10px !important;
    }
    .bar-code-area h2 {
        font-size: 15px !important;
    }
    .brc-img img {
        width: 71% !important;
    }
    .brc-img {
        padding: 20px 10px !important;
    }
  }
@media (max-width:1281px) {
    .container {
        max-width: 990px !important;
    }
    #commentanimatedHeading .flex-set p {
        font-size: 11px !important;
    }
    #commentanimatedHeading .flex-set h4 {
        font-size: 13px !important;
    }
    #commentanimatedHeading .flex-set {
        padding: 13px 0;
    }
}
@media (max-width:1200px) {
  
}
@media(max-width:1024px){
 
}
@media (max-width:993px) {
    
   
}

@media  (max-width:815px) {
    
    
}
@media  (max-width:768px) {
   
  
}

@media (max-width:576px) {
  
}
@media (max-width:414px) {
   
}
@media (max-width:376px) {
    
}
@media (max-width:360px) {
    
}
@media (max-width:321px) {
   
}