@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
    
    scroll-behavior: smooth;
}
body {
	line-height: 1;
	font-family: 'Poppins', sans-serif !important;
	scroll-behavior: smooth;
  overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover{
    text-decoration: none !important;
}
@media(min-width:1400px){
    .container{
      max-width: 1280px !important;
  }
}


:root{
    --font600: 600;
    --font700: 700;
    --bthemecolor:#285993;
}
p{
    font-size: 15px;
    line-height: 23px;
    margin: 0 !important;
}
h1{
    font-size: 28px !important;
}
h3{
    font-size:18px !important;
}
h4{
    font-size: 19px !important;
    color: rgb(34 90 147);
    margin-bottom: 7px;
}
h5 {
    font-size: 20px;
}
h1,h2,h3,h5,h6{
   font-weight: var(--font700);
}


.header-inner {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}
header {
    background-color: rgb(255 255 255);
    padding: 15px 0;
}
.main-wrapper {
    background-color: #f8f8f8;
    height: 100vh;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.buildin-content h1 {
    color: var(--bthemecolor);
    font-weight: var(--font600);
    line-height: 38px;
    padding-bottom: 10px;
}

.buildin-content h3 {
    font-weight: 400;
    color: var(--bthemecolor);
}
.contribute-box h5 {
    font-weight: var(--font600);
    padding-bottom: 10px;
}

header, .main-wrapper {
  padding: 0 50px;
}
.list-funds li p span {
    font-weight: var(--font600);
    display: block;
    font-size: 17px;
}

ul.list-funds {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.list-funds li p {
    line-height: 25px;
}

.bulding-right-box {
    display: flex;
    flex-wrap: wrap;
}

.contribute-box {
    padding: 15px 20px;
    width: 55%;
    background: #fff;
    border: 1px solid #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.bulding-right-box .contribute-box:first-child::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/upper-left.svg);
    background-position: top left;
    background-size: 19%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
}
.bulding-right-box .contribute-box:last-child::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../img/lower-right.svg);
    background-position: bottom right;
    background-size: 25%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
}
.total-amount-box {
    width: 100%;
}
.total-amount-box h3 {
    color: var(--bthemecolor);
    margin: 3px 0;
}
.list-funds li p img {
    margin-right: 8px;
}
.rec-sp{
    color: var(--bthemecolor);
}

.recent-box p span {
    display: block;
    font-size: 15px;
}

.recent-box > p {
    font-weight: 500;
    line-height: 26px;
    font-size: 17px;
}

.recent-box {
    border: 1px solid var(--bthemecolor);
    width: 19%;
    background: #fff;
    box-shadow: 0 0 9px 0 #ccc;
}
.recent-box h3 {
    font-weight: var(--font600);
}
.recent-box h3 {
    font-weight: var(--font600);
}
.recent-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.monthly-subscribe {
    background-color: #e0eaf6;
    color: var(--bthemecolor);
    text-align: center;
    padding: 2px 0;
}
.rcent-top {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.all-contribute li {
    padding: 0px 10px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

.al-conrib-left p span {
    display: block;
    font-size: 13px;
}

.al-conrib-left p {
    font-weight: 500;
}

.al-conrib-right .rec-sp {
    padding-bottom: 6px;
    font-size: 14px;
}

.al-conrib-right span.al-month {
    padding: 0 10px;
    background: #e0eaf6;
    color: var(--bthemecolor);
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
}

span.al-usd {
    font-size: 20px;
    font-weight: 500;
}

.al-conrib-right {
    text-align: right;
}
ul.all-contribute {
    border: 1px solid #e7e7e7;
    background: #fff;
}


ul.all-contribute li:last-child {
    border-bottom-color: transparent;
}
section.all-contributes-area {
    padding: 20px 0;
    position: relative;
}
.flex-set{
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}


.tiers-contribute li {
    margin: 0 10px;
}

.tiers-contribute .flex-set p img {
    margin-right: 5px;
}

ul.tiers-contribute {
    border: 1px solid #e7e7e7;
    background: #fff;
}
.monthlys-contribute{
    border: 1px solid #e7e7e7;
    background: #fff;
}
.monthlys-contribute li{
    margin: 0 10px;
}
.tiers-contribute .flex-set p {
    display: flex;
}
.col-contr-35 {
    width: 33%;
}

.col-contr-65 {
    width: 63%;
}

.contribute-area-right {
    display: flex;
    justify-content: space-between;
}
#monthanimatedHeading li.slick-slide {
    opacity: 0.7;
}

#monthanimatedHeading li.slick-slide.slick-current.slick-active.slick-center {
    opacity: 1;
}
#commentanimatedHeading .flex-set {
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 0;
}

#commentanimatedHeading .flex-set h4 {
    color: #000;
    margin-bottom: 0;
    font-size: 17px !important;
}

.left-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 5%;
    bottom: 40px;
}

.left-img a.buildin-link {
    margin-top: 11px;
    color: #5f2567;
}
.bar-code-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 5%;
    bottom: 9%;
    text-align: center;
}

.bar-code-area h2 span {
    display: block;
    font-weight: 500;
}

.bar-code-area h2 {
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    color: #5f2567;
}

.bar-code-area p,.bar-code-area a {
    color: #5f2567;
    font-weight: 500;
}
.brc-img {
    border: 2px solid #5f2567;
    padding: 27px;
    border-radius: 100%;
    margin: 7px 0;
}


/* Particle Animation */

@keyframes confetti-slow {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
    }
  }
  @keyframes confetti-medium {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
    }
  }
  @keyframes confetti-fast {
    0% {
      transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
      transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
    }
  }

  
  .confetti-container {
    perspective: 700px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
  }
  
  .confetti {
    position: absolute;
    z-index: 1;
    border-radius: 0%;
  }
  .confetti--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
  }
  .confetti--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
  }
  .confetti--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
  }
  
  /* Checkmark */
  .checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
  }
  
  .checkmark-circle .background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #00C09D;
    position: absolute;
  }
  
  .checkmark-circle .checkmark {
    border-radius: 5px;
  }
  
  .checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-radius: 2.5px !important;
    content: "";
    left: 25px;
    top: 75px;
    position: absolute;
  }
  
  @-webkit-keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  @-moz-keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  .submit-btn {
    height: 45px;
    width: 200px;
    font-size: 15px;
    background-color: #00c09d;
    border: 1px solid #00ab8c;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
    cursor: pointer;
    transition: all 2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .submit-btn:hover {
    background-color: #2ca893;
    transition: all 0.2s ease-out;
  }
  .donation-celebration{
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .donation-content {
    color: #b27711;
    font-weight: var(--font700);
    display: flex;
    flex-direction: column;
}

.donator-name {
    font-size: 32px !important;
}

.donator-name span {
    display: block;
    font-size: 23px;
}

.donation-recieve {
    font-size: 62px !important;
    margin-top: 15px;
}
/* Particle Animation */

