@media (max-width:1600px) {
    h1 {
        font-size: 42px !important;
    }
    h4 {
        font-size: 17px !important;
        margin-bottom: 0;
    }
    .target-ammoun h4{
        margin-bottom: 0;
    }
    
    #commentanimatedHeading li p {
        font-size: 17px;
    }
    h1.percentage-count {
        font-size: 44px !important;
    }
    .guest-box p {
        font-size: 18px;
        line-height: 28px
    }
    .guest-box-last p {
        font-size: 18px;
        line-height: 28px
    }
    .guest-box-last {
        height: 260px;
    }
    .guest-box {
        height: 260px;
    }
    .gradient-border {
        padding: 50px 29px;
    }
    .raisde-percenta {
        margin: 0 10px 0 0;
    }
    .al-conrib-left p span {
        font-size: 17px;
    }
    .al-conrib-left p {
        font-size: 20px;
    }
}
@media (max-width:1531px) {
    .buildin-content h2 {
        font-size: 25px !important;
    }
    h1 {
        font-size: 36px !important;
    }
    .gradient-border {
        padding: 40px 29px;
    }
    .guest-box {
        height: 220px;
    }
    .guest-box-last {
        height: 220px;
    }
    #commentanimatedHeading li p {
        font-size: 15px;
    }
    .al-conrib-left p span {
        font-size: 15px;
    }
    .all-contributes-area h4 {
        font-size: 19px !important;
    }
}
@media (max-width:1441px) {
    
}
@media(max-width:1367px){
  
  }
@media (max-width:1281px) {
    
}
@media (max-width:1200px) {
  
}
@media(max-width:1024px){
 
}
@media (max-width:993px) {
    
   
}

@media  (max-width:815px) {
    
    
}
@media  (max-width:768px) {
   
  
}

@media (max-width:576px) {
  
}
@media (max-width:414px) {
   
}
@media (max-width:376px) {
    
}
@media (max-width:360px) {
    
}
@media (max-width:321px) {
   
}